.cart-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
.all-information {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-items {
  width: 100%;
}

.cart-summary {
  width: 50%;
  margin-left: 20px;
}

.cart-summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-summary-item.total {
  font-weight: bold;
}

.back {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.item-img {
  flex: 1;
}

.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-quantity{
  overflow: hidden;
}

.item-quantity a{
  text-decoration: none; 
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.item-quantity input{
  text-align: center; 
  width: 50px; 
}

.item-details,
.item-quantity,
.item-price {
  flex: 1;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .all-information {
    flex-direction: column;
    align-items: center;
  }

  .cart-summary {
    width: 100%;
    margin-top: 20px;
  }
}

.btn-buy-now {
  background-color: #5ca720;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
